* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.container {
  width: 375px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid #c6c6c6;
}

#logo {
  width: 127px;
  height: 33px;
  object-fit: fill;
}

.avatar {
  width: 34px;
  border-radius: 50%;
}

.post-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 25px;
}

.user-info {
  display: flex;
  align-items: center;
  column-gap: 7px;
  padding: 10px;
}

.user-image {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.user-alt-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: 700;
  line-height: 16.34px;
}

.user-location {
  font-size: 12px;
  line-height: 15.08px;
}

.post-image {
  width: 375px;
}

.post-body {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 21px 19px 16px 10px;
}

.post-icons {
  display: flex;
  column-gap: 20px;
}

.fa-regular {
  font-size: 24px;
  cursor: pointer;
}

.fa-solid {
  color: #fb3958;
}

.post-likes {
  font-weight: 700;
  margin-left: 3px;
}

.commentor {
  font-weight: 700;
}

.bla {
  width: 100%;
}
